# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required
dist: trusty

r: bioc-devel
bioc_required: true
bioc_use_devel: true

addons:
  apt:
    packages:
    - libnetcdf-dev
    - libhdf5-dev
    - libproj-dev
    - libgdal-dev
    - cdo

r_github_packages:
  - MangoTheCat/visualTest
  - jimhester/lintr
  - jimhester/covr

after_success:
  - Rscript -e 'covr::codecov()'
