# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required
dist: trusty
r: bioc-devel
bioc_required: true 
bioc_use_devel: true

addons:
  apt:
    packages:
    - libcurl4-gnutls-dev
    - libgcrypt11-dev
    - libgnutls-dev
    - libgnutlsxx27
    - libgpg-error-dev
    - libp11-kit-dev
    - libtasn1-6-dev
    - libterralib
    - libhdf5-dev
    - libnetcdf-dev
    - libproj-dev
    - libgdal-dev
    - netcdf-bin
    - ncl-ncarg

before_install:
  - wget https://code.zmaw.de/attachments/download/11392/cdo-1.7.0.tar.gz
  - tar zxvf cdo-1.7.0.tar.gz
  - cd cdo-1.7.0
  - ./configure --with-hdf5=yes --with-netcdf=yes --with-proj=yes
  - make check
  - sudo make install
  - cd ..
  - rm cdo-1.7.0.tar.gz
  - rm -rf cdo-1.7.0
  
r_packages:
  - rgdal
  - roxygen2
  - rprojroot
  - rmarkdown
  - png
  - htmltools
  - covr

r_github_packages:
  - MangoTheCat/visualTest

after_success:
  - Rscript -e 'covr::codecov()'
